<%= render 'shared/page_title', title: @recipebox.title %>

<div class="row">
  <div class="col-md-4 pull-right center">
    <p>
    </p>
  </div>
  <div class="col-md--8">
    <%= link_to"Edit this Recipe", edit_recipebox_path(@recipebox), class: "btn btn-success pull-right" %>
    <h3><%= @recipebox.instruction %></h3>
    <div class="show_recipebox">
      <%= image_tag(@recipebox.picture.url, class: "gravatar") if @recipebox.picture? %>
    </div>
    <div class="well">
      <p>
        <strong>Steps:</strong>
      </p>
        <%= simple_format(@recipebox.instruction) %>
    </div>

  </div>
</div>

<h5><%= link_to "Back to Recipe Listings", recipeboxes_path, class: "btn btn-warning btn-small" %></h5>





<!-- <%= link_to 'Edit', edit_recipebox_path(@recipebox) %>
<%= link_to "Delete", @recipebox, method: :delete, data: {confirm: "Are you sure you want to delete this recipe?"} %> -->
